<!doctype html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} · Emoji search</title>
  {% endblock %}
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">The Amazing Emoji Searcher</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
<footer>
  <div class="container text-center">
    {% block footer %}
    Made with love by <a href="#">Richard Luong</a>.
    {% endblock %}
  </div>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}
</html>